@import url('https://fonts.googleapis.com/css?family=Roboto:400,900');


html {
	height: 100%;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	color: #ccc;
}

body {
	height: 100%;
}

/* Header (width: 320px) */
header {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100vh;
	background-color: #000;
}

.header-logo  {
	margin: 0 auto;
	max-width: 250px;
}

header img {
	max-width: 100%;
}

header h1 {
	margin: 0.5em;
	text-align: center;
	font-size: 2.5em;
}

header h2 {
	font-size: 1.25em;
	text-align: center;
}

.navbar {
	border-top: 1px solid #bbb;
 	border-bottom: 1px solid #bbb;
}

.navbar-list {
	display: flex;
  	flex-wrap: wrap;
  	justify-content: space-evenly;
  	text-transform: uppercase;
}

.navbar-list, .navbar-list a {
	align-items: center;
	min-height: 60px; 
}

 .navbar-list a {
	color: #ccc;
}

.navbar-list a {
	margin: 0 10px;
	padding: 0 10px;
	text-decoration: none;
}

/* 'About' section (width: 320px) */
.home {
	position: relative;
	width: 100%;  
	height: 100%;
	background-image: url('../img/bckg-home_small.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.about {
	width:  100%;
	height: 50%;
	background: #000;
}

.about-article {
	position: relative;
	top: 70%;
	margin: 0 3%;
	padding: 3px 10px;
	background: rgba(0, 0, 0, 0.8);
	font-size: ;
	line-height: 1.5em; 
}

/* 'Projects' section (width: 320px) */
.projects {
	position: relative;
	height: auto;
	min-height: 400px;
	padding: 30px;
	background-color: #000;
}

.projects-title {
	margin-bottom: 20px;
	font-size: 2.5rem;
	font-weight: bolder;
	text-align: center;  
}

.projects-folio {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.project-card {
	margin: 20px;
 	border: 1px solid #bbb;
	width: 330px;
	height: 220px;
	background-color: #eee;
	background-image: url('../img/330-220-soon.jpg');
	background-position: center;
	background-size: cover;
}

.project-01 {
	background-image: url('../img/330-220-fcc-tribute.jpg');
}

.project-02 {
	background-image: url('../img/330-220-fcc-portfolio.jpg');
}

.project-03 {
	background-image: url('../img/330-220-uda-pixel.jpg');
}

.hidden .card-button {
	visibility: hidden;
}

.card-overlay {
	display: flex;
	align-items: center;
	flex-wrap: wrap; 
	justify-content: space-evenly;
	opacity: 1;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
}

.card-text {
	display: block;
	margin: 0 30px;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
}

.card-button {
	display: block;
	border: 1px solid #bbb;
	width: 65px;
	padding: 0;
	background-color: rgba(0, 0, 0, 0.5);
	font-size: 1rem;
}

.card-button a {
	display: block;
	margin: 0;
	padding: 10px 15px;
	text-decoration: none;
	color: #ccc;
}

span {
	display: block;
}

/* 'Contact' section (width: 320px) */
.contact {
	background-image: url('../img/bckg-contact_small.jpg');
	background-attachment: fixed;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}

.contact-title {
	padding-top: 20px;
	font-size: 2.5rem;
	font-weight: bolder;
	text-align: center;  
}

/* Contact form (width: 320px) */

form {
	display: flex;
	height: 73vh;
	min-height: 400px;
}

.contact-form {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 80vw;
	height: 350px;
	padding: 30px 0;
}

label {
	display: block;
	color: #eee;
}

input, textarea {
	margin: 2px 0 15px 0;
	border: 1px solid #bbb;
	border-radius: 10px;
	height: 30px;
	padding: 0 10px;
	background: rgba(0, 0, 0, 0.8);
	font-size: 1rem;
	color: #bbb;
}

textarea {
	height: 120px;
}


/* Footer (width: 320px) */
.main-footer {
	display: flex;
	align-items: center;
	flex-wrap: wrap-reverse;
	justify-content: space-around;
	border-top: 1px solid #bbb;
	min-height: 100px;
	background: rgba(0, 0, 0, 0.8);
}

.footer-elem {
	margin: 14px;
  
}

.footer-elem a {
	margin: 0 14px;
}

.copyrights {
	margin: 14px;
	font-weight: 600;
	text-align: center;
}

.footer-elem .icon {
	font-size: 2.5rem;
	color: #ccc;
}


@media screen and (min-width: 640px) {
	
	header {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	
	.header-logo {
		flex-basis: 40%;
		align-self: center;
	}
	
	header img {
		max-width: 200px;
		padding: 10%;
	}
	
	.header-title {
		flex-basis: 60%;
		align-self: center;
	}
	
	.navbar {
		flex-basis: 100%;
		align-self: center;
	}
}


@media screen and (min-width: 768px) {

	/* Header (min-width: 768px) */
	header {
		flex-wrap: nowrap;
  		position: fixed;
  		z-index: 99;
		border-bottom: 1px solid #bbb;
  		width: 100%;
		height: 90px;
		background-color: rgba(0, 0, 0, 0.7);
	}
	
	.header-logo {
		flex-basis: 15%;
		max-width: 120px;	
	}
	
	.header-title {
		display: flex;
		flex-direction: column;
		flex-basis: 50%;
	}
	
	header h1 {
		margin: 0 0.5em;
		font-size: 2.4em;
	}
	
	header h2 {
		margin:  0.1em 0 0;
	}
	
	.logo  {
		height: 90px;
		margin: 0 auto;
	}

	.navbar {
		flex-basis: 35%;
  		flex-wrap: wrap;
  		border: none; 
  		padding: 0 20px; 
	}

	.navbar-list {
  		flex-grow: 1;
  		justify-content: flex-end;
  		margin-left: auto;
	}

	.navbar, .navbar-logo, .navbar-list, .navbar-list a {
		display: flex;
  		min-height: 90px; 
	}

	.navbar-list a {
  		margin: 0 5px;
  		padding: 0 5px;
		font-size: 0.9em;
	}

	/* 'About' section (min-width: 768px) */
	.home {
		background-image: url('../img/bckg-home_medium.jpg');
	}
	
	.about-article {
		font-size: 1.6em;
	}
	
	/* 'Contact' section (min-width: 768px) */
	.contact {
		position: relative;
		background-image: url('../img/bckg-contact_medium.jpg');
	}
	
	.projects .anchor, .contact .anchor {
		position: absolute;
		z-index: -1;
		top: -90px;
		display: block;
	}
}


@media screen and (min-width: 1024px) {
	
	.about-article {
		font-size: 1.6em;
	}
}


@media screen and (min-width: 1100px) {
	
	.header-logo {
		flex-basis: 15%;
	}
	
	.header-title {
		flex-direction: row;
		flex-basis: 55%;	
	}
	
	header h1 {
		margin: 0.5em;
	}
	
	header h2 {
		margin:  1.7em 0 0;
	}
	
	.navbar {
		flex-basis: 30%;
	}

	.navbar, .navbar-logo, .navbar-list, .navbar-list a {
		align-items: center; 
	}

	.navbar-list a {
  		margin: 0 10px;
  		padding: 0 10px;
	}
	
	.navbar-list a:hover {
  		color: #ff3f00;
	}

	/* 'About' section (min-width: 1100px) */
	.home {
		background-image: url('../img/bckg-home.jpg');
	}
	
	/* 'Projects' section (min-width: 1100px) */
	.card-overlay {
		opacity: 0;
		-webkit-transition: opacity 0.35s ease;
		-moz-transition: opacity 0.35s ease;
	}

	.card-overlay:hover {
		opacity: 1;
	}
	
	.card-button:hover a {
		color: #ff3f00;
	}

	/* 'Contact' section (min-width: 1100px) */
	.contact {
		position: relative;
		background-image: url('../img/bckg-contact.jpg');
	}
	
	/* Contact form (min-width: 1100px) */
	.contact-form {
		width: 40vw;
		padding: 30px 5vw;
	}

	input[type=submit]:hover {
		background-color: #ff3f00;
	}

	/* Footer (min-width: 100px) */
	.footer-elem .icon:hover {
		color: #ff3f00;  
	}
}
