@import url('https://fonts.googleapis.com/css?family=Roboto:400,900');

html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
	color: #ccc;
}

body {
  height: 100%;
}

/* header and navbar */

header {
  position: fixed;
  width: 100%;
  z-index: 99;
}

.navbar {
  flex-wrap: wrap;
  padding: 0 20px; 
	background-color: rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid #bbb; 
}

.navbar-logo {
	font-size: 3rem;
}

.navbar-logo a {
  color: #fff;
  text-decoration: none;
}

.navbar-list {
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-left: auto;
  text-transform: uppercase;
}

.navbar, .navbar-logo, .navbar-list, .navbar-list a {
  align-items: center;
	display: flex;
  min-height: 70px; 
}

 .navbar-list a{
  color: #ccc;
}

.navbar-list a {
  margin: 0 10px;
  padding: 0 10px;
  text-decoration: none;
}

.navbar-list a:hover {
  color: #ff3f00;
}

/* sections */

.home {
  width: 100%;  
  height: 100%;
  background-image: url('../images/bckg-home.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.about {
  width:  100%;
  height: 50%;
  background: #000;
}

/* Section 'Projects' */

.anchor {
	position: absolute;
	z-index: -1;
	top: -70px;
	display: block;
}
.projects {
	position: relative;
  height: auto;
  min-height: 400px;
	padding: 30px;
  background-color: #000;
}

.projects-title {
	margin-bottom: 20px;
  font-size: 2.5rem;
  text-align: center;  
}
.projects-folio {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.project-card {
  width: 330px;
  height: 220px;
  margin: 20px;
  background-color: #eee;
  background-image: url('https://picsum.photos/330/220?image=885');
  border: 1px solid #bbb;
}

.project-01 {
  background-image: url('../images/330-220-fcc-tribute.jpg');
  background-position: center;
}

.hidden .card-button {
	visibility: hidden;
}

.card-overlay {
  display: flex;
  flex-wrap: wrap; 
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  -webkit-transition: opacity 0.35s ease;
  -moz-transition: opacity 0.35s ease;
}

.card-overlay:hover {
  opacity: 1;
}

.card-text {
	display: block;
	margin: 0 30px;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.5);
		
/*	border: 1px solid #000;*/
	text-align: center;
}
.card-button {
  display: block;
/*  margin-bottom: 5%;*/
  padding: 0;
  width: 65px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #bbb;
/*  border-radius: 4px;*/
  font-size: 1rem;
}

.card-button a {
  display: block;
  margin: 0;
  padding: 10px 15px;
  color: #ccc;
  text-decoration: none;
}

.card-button:hover a {
  color: #ff3f00;
}

span {
/*  opacity: 0;*/
  display: block;
}


/* Section 'Contact' */

.contact {
  background-image: url('../images/bckg-home.jpg');
  background-position:center ;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.contact-title {
	padding-top: 20px;
	font-size: 2.5rem;
  text-align: center;  
}
/* Contact form */
form {
	display: flex;
}
.contact-form {
	display: flex;
	flex-direction: column;
	width: 40vw;
  height: 350px;
	padding: 30px 5vw;
}

label {
	display: block;
}
input, textarea {
  height: 30px;
  margin: 2px 0 15px 0;
	padding: 0 10px;
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid #bbb;
	border-radius: 10px;
  color: #ccc;
  font-size: 1rem;
}

textarea {
  height: 120px;
  
}

input[type=submit] {

}

/* Footer */

.main-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
  
  min-height: 100px;
  background: rgba(0, 0, 0, 0.8);
  border-top: 1px solid #bbb;
}

.footer-elem {
  margin: 14px;
  
}
.footer-elem a {
  margin: 0 14px;
}
.footer-elem a:hover {
}

.copyrights {
  margin: 14px;
  text-align: center;
  font-weight: 600;
}

.footer-elem .icon {
  color: #ccc;
  font-size: 2.5rem
}

.footer-elem .icon:hover {
  color: #f53124;  
}
